<!DOCTYPE html>
<html>

<head>
  <title>Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>


  <!-- child template -->
  {% include 'includes/_navbar.html'%}

  <div class="container">
    {% include 'includes/_messages.html'%}
    {% block content %}{% endblock %}
  </div>




  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>