{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <h1>{{project.title}}</h1>
    </div>
    <div>
        <p>{{project.description}}</p>
        <p>
            <a href="{{ url_for('projects.render_project', project_id=project.id)}}">Results</a>
        </p>
        <p>
            <a href="{{url_for('projects.update_project', project_id=project.id)}}">
                Update
            </a>
            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
                Delete
            </button>

        </p>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Project?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('projects.delete_project', project_id=project.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}