{% extends 'base.html' %}

{% block content %}

<legend class="border-bottom mb-4">Projects</legend>
<a class="btn btn-outline-info" href="projects/new"> Add Project</a>
<hr>
<div class="list-group">
    {% for project in projects %}
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                <a href="{{ url_for('projects.project', project_id=project.id)}}">
                    {{project.title}}
                </a>
            </h5>
            <small>{{project.create_date.strftime('%Y-%m-%d')}}</small>
        </div>
        <p class="mb-1">{{project.description}}</p>
        <small>Category: {{project.category}}</small>
    </div>
    {% endfor %}
    {% endblock %}
</div>