[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "==1.11.0"
flask = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
flask-script = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-login = "*"
passlib = "*"
flask-admin = "*"
werkzeug = "*"
pandas = "*"
xlrd = "*"
flask-security = "*"
email-validator = "*"
flask-user = "*"

[requires]
python_version = "3.7"
